{{ define "heading" }}
{{ if .Site.Params.Avatar }}
<img class="hidden w-20 mr-6 rounded-full md:block" src="{{ .Site.Params.Avatar | absURL }}" alt="{{ .Site.Params.Author }}">
{{ end }}

<div>
    <h1 class="text-4xl font-bold">{{ .Site.Title }}</h1>
    <p class="mb-2">{{ .Site.Params.tagline }}</p>
    <p>
    	💼 <a target="_blank" href="https://www.linkedin.com/in/itisfilipe" style="border-bottom: 0;">Linkedin</a>&nbsp;&nbsp;&nbsp;
    	👨🏻‍💻  <a target="_blank" href="https://github.com/itisfilipe" style="border-bottom: 0;">Github</a>&nbsp;&nbsp;&nbsp;
    	🗂  <a href="/tags/project/" style="border-bottom: 0;">Projects</a>&nbsp;&nbsp;&nbsp;
    	📄 <a target="_blank" href="/resume.pdf" style="border-bottom: 0;">Resume</a>
    </p>
</div>
{{ end }}

{{ define "content" }}
<section class="mb-24">
    {{ range site.RegularPages.GroupByDate "2006" -}}
        {{ partial "posts.html" . }}
    {{ end }}
</section>
{{ end }}

